{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'food/css/styles.css' %}" />
    <link rel="shortcut icon" href="{% static 'food/assets/images/favicon.png' %}" type="image/x-icon" />
    {% block title %}
      <title>Home</title>
    {% endblock %}
  </head>
  <body>
    <nav class="navbar navbar-dark navbar-expand-sm bg-primary sticky-top mb-5">
      <div class="container-fluid">
        <a class="navbar-brand d-flex align-items-center gap-2" href="{% url 'food:index' %}">
          <img src="{% static 'food/assets/images/food-logo.png' %}" width="32" alt="Food Logo" />
          <span>FoodApp</span>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url 'food:index' %}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="{% url 'food:create_item' %}">Add</a>
            </li>

            {% comment %}Account Settings dropdown{% endcomment %}

            {% if user.is_authenticated %}
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                    <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0" />
                    <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1" />
                  </svg>
                </a>
                <ul class="dropdown-menu dropdown-menu-end">
                  <li>
                    <a class="dropdown-item" href="#">Account Setting</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="/admin">Admin</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
                  </li>
                  <li>
                    <hr class="dropdown-divider" />
                  </li>
                </ul>
              </li>
            {% else %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'register' %}">Register</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'login' %}">Login</a>
              </li>
            {% endif %}

            {% comment %}End of account settings dropdown{% endcomment %}
          </ul>
        </div>
      </div>
    </nav>

    {% if messages %}
      {% for message in messages %}
        <div class="container my-4">
          <div class="alert alert-{{ message.tags }} alert-dismissible" role="alert">
            <div>{{ message }}</div>
            <div>{{ message.tags }}</div>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        </div>
      {% endfor %}
    {% endif %}

    {% block body %}

    {% endblock %}

    <footer class="bg-primary text-white py-5 mt-5">
      <div class="container">
        <h2>&copy;Iflexico 2024</h2>
      </div>
    </footer>

    <script src="{% static 'food/js/main.js' %}"></script>
  </body>
</html>
